# Data files
data/raw/*.csv
data/raw/*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
trained_models/
/models/

# Experiment tracking
mlflow.db
mlruns/
mlartifacts/

# Environment
venv/
env/
.env

# IDE
.vscode/

# OS
.DS_Store

# Generated outputs
outputs/

# Frontend
frontend/node_modules/
frontend/dist/
